*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #1e1f2c;
}

.container{
  margin: 50px auto;
  background-color: #b8bdca;
  width: 70%;
}

.imagen{
  display: inline-block;
  width: 45%;
  
}

.formulario{
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-left: 30px;
}

h1{
  text-align: center;
  margin-top: 10px;
  color: azure;
}

h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  color: black;
}

.contenido{
  margin-bottom: 0.5rem;
}

.columna{
  display: inline-block;    
  width: 40%;                  
  margin-right: 2.3rem; 
  margin-bottom: 0.5rem;
  

}
.contenido input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 5px;
  display: block;
  width: 95%;
}

.columna input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 5px;
  display: block;
}

.edad input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-top: 5px;
  
}

#mensaje{
  height: 100px;
}

input[type="submit"]{
  width: 60px;
  padding: 10px;
  margin: 10px auto;
}

@media(max-width:767px){
  h1{
    margin-top: 30px;
  }
  img{
    display: none;
  }
  .container{
    width: 90%;
    border-radius: 20px;
  }
  .formulario{
    width: 90%;
  }

}